autopep8==1.3.5
awscli==1.15.24
click==6.7
Cython==0.28.2
freezegun==0.3.10
howdoi==1.1.13
ipython==6.4.0
jedi==0.12.0
Jinja2==2.10
jupyterthemes==0.19.1
matplotlib==2.2.2
notebook==5.5.0
numba==0.38.0
numpy==1.14.3
packaging==17.1
pandas==0.23.0
pycodestyle==2.4.0
pyflakes==1.6.0
pylint==1.9.1
PyYAML==3.12
requests==2.18.4
scipy==1.1.0
seaborn==0.8.1
six==1.11.0
tqdm==4.23.3
