# 1. Copy this to ~/.config/systemd/user/xkeysnail.service
# 2. systemctl --user enable xkeysnail
#
# Note that you need to set proper $DISPLAY on your environment.

[Unit]
Description=Service for xkeysnail

[Service]
KillMode=process
ExecStart=/usr/bin/sudo /usr/local/bin/xkeysnail /home/xkeysnail/config.py
ExecStartPre=/usr/bin/xhost +SI:localuser:root
ExecStop=/usr/bin/killall xkeysnail
Type=simple
RestartSec=10

# Update DISPLAY to be the same as `echo $DISPLAY` on your graphical terminal.
Environment=DISPLAY=:0.0

[Install]
WantedBy=default.target
